nav#menu

  .inner-container

    #mobile-icon
      span
      span
      span

    if req.user != undefined
      #mobile-user-icon
        a(href="/user/show/#{req.user[0].id}")
          img.user-icon.top-nav(src="/images/user.jpg")

      #mobile-favourites
        a(href="/user/show/#{req.user[0].id}")
          i.fa.fa-heart
        span.mobile-fav-counter
          if req.user[0].venuesList.length > 0
            = req.user[0].venuesList.length

    ul#main-navigation
      li.menu-list-item.logo
        a(href="/") lennep.map
      unless req.user != undefined
        li.menu-list-item.signup
          a(href="/register").button.highlight Signup
        li.menu-list-item.login
          a(href="/login").button Login
      else
        li.menu-list-item.logout
          a(href="/logout").button.highlight Logout
        li.menu-list-item.user
          a(href="/user/show/#{req.user[0].id}")
            img.user-icon(src="#{req.user[0].gravatarURL}")
          a.button(href="/user/show/#{req.user[0].id}")= req.user[0].username 
      li.menu-list-item.tour
        a(href="#") Tour
      li.menu-list-item.favourites
        if req.user != undefined
          //- a(href="/user/show/#{req.user[0].id}") Favouriten
          a(href="/favourites").favourites-link-js Favouriten
          if req.isAuthenticated()
            span.fav-counter
              if req.user[0].venuesList.length > 0
                = req.user[0].venuesList.length
          else
            span.fav-counter
        else
          a(href="/favourites").favourites-link-js Favouriten
          if req.isAuthenticated()
            span.fav-counter
              if req.user[0].venuesList.length > 0
                = req.user[0].venuesList.length
          else
            span.fav-counter
      li.menu-list-item.map
        a(href="/venue") Map

    #mobile-navigation-wrapper
      ul#mobile-navigation
        li.menu-list-item.tour
          a(href="#") Tour
        li.menu-list-item.favourites
          if req.user != undefined
            a(href="/user/show/#{req.user[0].id}") Favouriten
          else
            a(href="/favourites").favourites-link-js Favouriten
        li.menu-list-item.map
          a(href="/venue") Map
        unless req.isAuthenticated()
          li.menu-list-item.login
            a(href="/login").button Login
          li.menu-list-item.signup
            a(href="/register").button.highlight Signup
        else
          li.menu-list-item.user
            a(href="/user/show/#{req.user[0].id}")
              img.user-icon(src="#{req.user[0].gravatarURL}")
            a.button(href="/user/show/#{req.user[0].id}")= req.user[0].username 
          li.menu-list-item.logout
            a(href="/logout").button.highlight Logout
