doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(type='text/css', href='/styles/all.css', rel='stylesheet')

    body(data-user=req.isAuthenticated() ? '#{req.user[0].id}' : 'sessionlessUser', class="#{req.options.controller}")
      
      .container

        include _nav

        if (flash && flash.err)
          ul
            each message in flash.err
              li= message.message

        main
          block body

      #modal
        #modal-wrapper
          #modal-inner
            #modal-login
              p Einloggen um Favouriten zu speichern
              hr
              a.button.full(href="/login") Einloggen
              br
              p Noch kein Konto?
              br
              a.button.full.highlight(href="#") Neues Konto anlegen
              hr
              p oder
              br
              #modal-cancel-account
                a#cancel-account-button.button.full(href="#") Ohne Account fortfahren
                p Ihre Favouriten werden zwei Tage gespeichert. 


      script(src="/js/dependencies/sails.io.js")
      script(src="/js/dependencies/jquery-2.1.1.js")
      script(src="/js/lib/jquery.cookie.js")
      script(src='/js/map.js')
      script(src='/js/favourites.js')
      script(src='/js/modal.js')
      script(src='/js/nav.js')
      script(src='/js/venue.js')
      script(src='/js/touch.js')