extends ../layout

block body

  .inner-container(class="#{user.id}")

    h2 
      img.user-icon(src="/images/user.jpg")
      span= user.username
    a(href="/user/edit/#{req.user[0].id}") Nutzerdaten bearbeiten
    hr
    h3 Mein Favouriten
    ul.card-list
      each venue in user.venuesList
        li.card(data-venue=venue.id)
          .card-avatar
            if req.isAuthenticated()
              if venue.owner == req.user[0].id
                a.pill.edit(href="/venue/edit/#{venue.id}") Edit
            a(href="/venue/show/#{venue.id}")
              img(src=venue.gallery[0])
          .card-content
            h4
              a(href="/venue/show/#{venue.id}")= venue.title
            .card-facts
              .card-rating
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star

          